
services:

  db:
    image: postgres:16
    container_name: ai_cases_db

    environment:
      POSTGRES_DB: ai_cases
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5


  api:
    build: .

    container_name: ai_cases_api

    depends_on:
      db:
        condition: service_healthy

    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: ai_cases
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

      GROQ_API_KEY: ${GROQ_API_KEY}
      GROQ_MODEL: llama-3.1-8b-instant

    ports:
      - "8000:8000"

    volumes:
      - .:/app


volumes:
  postgres_data:
